<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Колонизация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
           <h1>Жди нас, Марс!</h1>
           <img src="static/img/mars.gif">

            <div class="col-sm alert alert-dark">
              Человечество вырастает из детства.
            </div>

            <div class="col-sm alert alert-success">
              Человечеству мала одна планета.
            </div>

            <div class="col-sm alert alert-secondary">
              Мы сделаем обитаемыми безжизненные пока планеты.
            </div>

            <div class="col-sm alert alert-warning ">
              И начнем с марса!
            </div>
            <div class="col-sm alert alert-danger">
              Присоединяйся!
            </div>

</body>
</html>